@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #0179FE;
  --color-secondary: #4893FF;
  --color-accent: #0179FE;

  --color-base-content: #475467;   /* Primary text */
  --color-neutral-content: #344054; /* Secondary text */

  --color-base-100: #EAECF0; /* Background */

  --rounded-btn: 0.5rem;
  --btn-text-case: capitalize;
}

/* dark theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #3B82F6;
  --color-secondary: #60A5FA;
  --color-accent: #2563EB;

  --color-base-content: #E5E7EB;
  --color-neutral-content: #9CA3AF;

  --color-base-100: #1E293B;
}



body {
  font-family: 'Inter';
}



  /* for active routes */
.active{
    @apply bg-linear-to-r from-[#0179FE] to-[#4893FF] text-white font-bold
}
